* {
  font-family: 'Lato', sans-serif;
  color: black;
}

body, header, main, .main-title, .contact-information, .c-social-media-links, .c-title-contact-info {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

body {
  width: 75%;
  margin: 2rem auto;
}

.main-title a {
  font-size: 4.5rem;
  color: black;
  font-weight: bold;
}

.main-title a:hover {
  color: black;
  text-shadow: none;
}

.main-title, .contact-information {
  justify-content: center;
}

.c-social-media-links {
  justify-content: space-around;
  margin: 1rem 0;
}

.social-media-link {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#twitter {
  background-image: url("../resc/images/twitter-icon.png");
}

#youtube {
  background-image: url("../resc/images/youtube-icon.png");
}

#github {
  background-image: url("../resc/images/github-icon.png");
}

/* * {
  font-family: 'Lato', sans-serif;
  color: black;
}

body {
  width: 80%;
  margin: 2rem auto;
}

header {
  display: flex;
  flex-flow: column nowrap;
}

.title-section-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.email {
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 0rem;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.main-description {
  font-size: 2rem;
}

.more-about {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-top: 1rem;
} */