* {
  font-family: 'Lato', sans-serif;
  color: black;
}

body {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}

header, main {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-title, .contact-information, .social-media-icon-links {
  border: 2px solid blue;
  width: 100%;
}

.social-media-icon-links {
  display: flex;
  justify-content: space-around;
}

.social-link {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}

#twitter {
  background-image: url("../resc/images/twitter-icon.png");
}

#youtube {
  background-image: url("../resc/images/youtube-icon.png");
}

#github {
  background-image: url("../resc/images/github-icon.png");
}

/* * {
  font-family: 'Lato', sans-serif;
  color: black;
}

body {
  width: 80%;
  margin: 2rem auto;
}

header {
  display: flex;
  flex-flow: column nowrap;
}

.title-section-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.email {
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 0rem;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.main-description {
  font-size: 2rem;
}

.more-about {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-top: 1rem;
} */